<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="KalitteSensorServerEntities" connectionString="metadata=res://*/Metadata.Providers.SQL.KalitteSensorServerEntities.csdl|res://*/Metadata.Providers.SQL.KalitteSensorServerEntities.ssdl|res://*/Metadata.Providers.SQL.KalitteSensorServerEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=10.10.1.2;Initial Catalog=KalitteSensorServer;Persist Security Info=True;User ID=sa;Password=Kalitte2010;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient"/>
  </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
