<?xml version="1.0"?>
<configuration>

  <startup>
    
  <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" /></startup>

  <connectionStrings><add name="KalitteSensorServerEntities" connectionString="metadata=res://*/Metadata.SqlServer.KalitteSensorServerEntities.csdl|res://*/Metadata.SqlServer.KalitteSensorServerEntities.ssdl|res://*/Metadata.SqlServer.KalitteSensorServerEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=10.10.1.2;initial catalog=KalitteAracTakip;persist security info=True;user id=sa;password=Kalitte2010;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings>
</configuration>
