<?xml version="1.0" encoding="UTF-8"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

  <configSections>
    <section name="KalitteDashboardFramework" type="Kalitte.Dashboard.Framework.Configuration.DashboardFrameworkSection, Kalitte.Dashboard.Framework" />
    <section name="KalitteSensorFramework" type="Kalitte.Sensors.Configuration.SensorConfigurationSection, Kalitte.Sensors" />
    <section name="extnet" type="Ext.Net.GlobalConfig" requirePermission="false" />
  </configSections>

  <!-- Uncomment below settings for WCF diagnostics -->
  <!--<system.diagnostics>
    <sources>
      <source name="System.ServiceModel"
              switchValue="Information, ActivityTracing"
              propagateActivity="true">
        <listeners>
          <add name="traceListener"
              type="System.Diagnostics.XmlWriterTraceListener"
              initializeData= "c:\log\Tracesc.svclog" />
        </listeners>
      </source>
    </sources>
  </system.diagnostics>-->

  <appSettings>
    <add key="useDefaultWcfSettings" value="true"/>
    <add key="showInitialLoginHelp" value="true"/>
    <add key="ProductVersion" value="1.0"/>
  </appSettings>

  <extnet licenseKey="NjQ4NDIzMzEsMSw5OTk5LTEyLTMx" />
  <KalitteDashboardFramework defaultProvider="SQLDashboardProvider" editorUrl="~/Pages/Dynamic/WidgetEditor.aspx" customThemesDirectory="~/CustomDashboardThemes/" widgetMaximizeUrl="~/Pages/Dynamic/WidgetMaximize.aspx" useCache="false">
    <providers>
      <clear />
      <add authorizationEnabled="false" applicationName="DashboardApp" connectionString="SensorSqlConstr" name="SQLDashboardProvider" type="Kalitte.Dashboard.Framework.Providers.SQLDashboardProvider,Kalitte.Dashboard.Framework" />
    </providers>
  </KalitteDashboardFramework>

  <KalitteSensorFramework>
    <knownTypesProviders>
      <clear />
      <add name="rfid" type="Kalitte.Sensors.Rfid.Utilities.RfidKnownTypesHelper, Kalitte.Sensors.Rfid"  />
      <add name="rfidmodules" type="Kalitte.Sensors.Rfid.EventModules.Client.KnownTypesHelper, Kalitte.Sensors.Rfid.EventModules.Client"   />
    </knownTypesProviders>
  </KalitteSensorFramework>

  <location path="resource">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  
  <location path="webresource.axd">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>

  <location path="scriptresource.axd">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  
  <location path="ext.axd">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>

  <system.web>
    <compilation debug="true" targetFramework="4.0" />

    <authentication mode="Forms">
      <forms loginUrl="~/pages/shared/login.aspx"></forms>

    </authentication>
    <authorization>
      <deny users="?"/>
      <allow users="*"/>
    </authorization>
    <httpModules>
      <add name="DirectRequestModule" type="Kalitte.Dashboard.Framework.Modules.RequestModule, Kalitte.Dashboard.Framework" />
      <add name="AppHandlingModule" type="Kalitte.Sensors.Web.Modules.AppModule, Kalitte.Sensors.Web" />
    </httpModules>
    <httpRuntime executionTimeout="600000" requestValidationMode="2.0" />
    <httpHandlers>
      <add path="*/ext.axd" verb="*" type="Ext.Net.ResourceHandler" validate="false" />
      <add path="dashboard.axd" verb="GET,HEAD" type="Kalitte.Dashboard.Framework.Handlers.DashboardHandler" validate="false" />
    </httpHandlers>


    <pages validateRequest="false" theme="DefaultTheme">
      <controls>
        <add tagPrefix="ext" namespace="Ext.Net" assembly="Ext.Net" />
        <add tagPrefix="tt" namespace="Kalitte.Sensors.Web.Controls" assembly="Kalitte.Sensors.Web" />
        <add tagPrefix="kalitte" namespace="Kalitte.Dashboard.Framework" assembly="Kalitte.Dashboard.Framework" />
        <add tagPrefix="asp" namespace="System.Web.UI.DataVisualization.Charting" assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
      </controls>
    </pages>
    <identity impersonate="true" />

    <roleManager enabled="true">
      <providers>
        <clear />
        <add applicationName="KalitteSensorServer"
            connectionStringName="SensorSqlConstr"
            name="AspNetSqlRoleProvider"
            type="System.Web.Security.SqlRoleProvider" />
      </providers>
    </roleManager>

    <membership defaultProvider="SqlMembershipProvider" userIsOnlineTimeWindow="15">
      <providers>
        <clear />
        <add
          name="SqlMembershipProvider"
          type="System.Web.Security.SqlMembershipProvider"
          connectionStringName="SensorSqlConstr"
          applicationName="KalitteSensorServer"
          enablePasswordRetrieval="false"
          enablePasswordReset="false"
          requiresQuestionAndAnswer="false"
          requiresUniqueEmail="true"
          minRequiredPasswordLength="5" minRequiredNonalphanumericCharacters="0"
          passwordFormat="Hashed" />
      </providers>
    </membership>
  </system.web>

  <connectionStrings>
    <add name="SensorSqlConstr" connectionString="Data Source=10.10.1.2;Initial Catalog=KalitteAracTakip;Persist Security Info=True;User ID=sa;Password=Kalitte2010" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.webServer>
    <handlers>
      <remove name="DashboardHandler" />
      <remove name="ExtHandler" />
      <add name="ExtHandler" path="*/ext.axd" verb="*" type="Ext.Net.ResourceHandler" />
      <add name="DashboardHandler" preCondition="integratedMode" verb="GET,HEAD" path="Dashboard.axd" type="Kalitte.Dashboard.Framework.Handlers.DashboardHandler, Kalitte.Dashboard.Framework, Version=3.5.0.0, Culture=neutral, PublicKeyToken=006de035aafd395a" />
    </handlers>
    <modules runAllManagedModulesForAllRequests="true">

      <remove name="DirectRequestModule" />
      <remove name="AppModule" />
      <add name="AppModule" preCondition="managedHandler" type="Kalitte.Sensors.Web.Modules.AppModule, Kalitte.Sensors.Web" />
      <add name="DirectRequestModule" preCondition="managedHandler" type="Kalitte.Dashboard.Framework.Modules.RequestModule, Kalitte.Dashboard.Framework, Version=3.5.0.0, Culture=neutral, PublicKeyToken=006de035aafd395a" />
    </modules>
    <validation validateIntegratedModeConfiguration="false" />
  </system.webServer>
  <system.serviceModel>

    <!-- Uncomment below settings (bindings, client) to customize Management and CommandProcessor Services -->
    <!-- Donot forget to pass a configuration instance ServiceConfiguration.UseDefaultWcfSettings to false to SensorClient  -->
    <!-- Optionally you can set false to AppSettings parameter useDefaultWcfSettings -->

    <bindings>
      <!--<netTcpBinding>
        <binding name="tcpBinding" maxConnections="1024" maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647"
            maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
          <reliableSession enabled="false" />
        </binding>
      </netTcpBinding>
      -->

      <basicHttpBinding>
        <binding name="basicHttpBinding" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647"
            maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />

          <security mode="Transport">
            <transport clientCredentialType="Basic"
            proxyCredentialType="None"
            realm="" />
          </security>
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <!-- Sample TCPBinding Configuration  -->
      <!--<endpoint address="net.tcp://localhost:8746/sensor/service/CommandProcessor"
        binding="netTcpBinding" bindingConfiguration="tcpBinding" contract="ISensorCommandService"
        name="CommandService" kind="" endpointConfiguration="">
      </endpoint>
      -->
      <!--
      <endpoint address="net.tcp://localhost:8746/sensor/service/Management"
        binding="netTcpBinding" bindingConfiguration="tcpBinding" contract="IManagementService"
        name="ManagementService" kind="" endpointConfiguration="">
      </endpoint>-->

      <!-- Sample HttpBasicBinding Configuration  -->
      <endpoint address="https://10.10.1.19/Kalitte.Sensors.ServerWcf/sensor.svc/sensor/service/CommandProcessor"
        binding="basicHttpBinding" bindingConfiguration="basicHttpBinding" contract="ISensorCommandService"
        name="CommandService" kind="" endpointConfiguration="">
      </endpoint>

      <endpoint address="https://10.10.1.19/Kalitte.Sensors.ServerWcf/sensor.svc/sensor/service/Management"
        binding="basicHttpBinding" bindingConfiguration="basicHttpBinding" contract="IManagementService"
        name="ManagementService" kind="" endpointConfiguration="">
      </endpoint>

    </client>

  </system.serviceModel>
</configuration>
